import java.util.Scanner;

public class exercicio {

	public static void main(String[] args) {

		Scanner sc = new Scanner(System.in);

		int numero;

		System.out.println("Digite um número de 0 a 100");
		numero = sc.nextInt();

		do {
			if (numero >= 1 && numero <= 100)
				System.out.println("Valor correto");
			else {
				System.out.println("Valor invalido, tente novamente");
			}
		} while (numero < 1 || numero > 100);

	}
}
